# LomLib AccessTransformer configuration
# EntityPigZombie
public tn.bs #FD:EntityPigZombie/field_70837_d #angerLevel
# AbstractClientPlayer
public beu.c #FD:AbstractClientPlayer/field_110315_c #downloadImageCape
public beu.e #FD:AbstractClientPlayer/field_110313_e #locationCape
# EntityPlayer
public uf.f #FD:EntityPlayer/field_71074_e #itemInUse
public uf.g #FD:EntityPlayer/field_71072_f #itemInUseCount